#rps-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 25px 10px;
    gap: 25px;
    
}

h1, h2 {
    text-align: center;
}

#score {
    text-align: center;
}